@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+CU&display=swap');

* {    
    box-sizing: border-box;
}

body {    
    margin: 0 auto;
    padding: 0;
    color: rgb(16, 16, 17);
}

.app__background {
    height: 100%;
    padding: 1rem 1.5rem 0 2rem;
    height: 100vh;
    background: rgba(243, 245, 252, 1);
    background-size: cover;    
}

header { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 256px;
    height: 100px;
}

header img {
    height: 48px;
}

main {    
    display: flex;
}
/*Conteiner lateral esquerdo*/
.contener__msg__ida {
    width: 700px;
    height: 644px;  
    margin-left: 100px;  
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}
.contener__texto{
    width: 680px;
    height: 48px;    
}

.contener__texto textarea{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: rgba(10, 56, 113, 1);
    text-align: left;
    background-color: transparent; /* Cor de fundo transparente */
    border: 1px solid transparent; /* Borda transparente */
    resize: none; /* Para evitar redimensionamento manual */
    width: 100%; /* Ajustar a largura conforme necessário */
    height: auto; /* Ajustar a altura conforme necessário */
    height: calc(60px*5);
    overflow: hidden;     
}

.contener__btn i{   
    margin: 10px;
}

.button__grupo{
    width: 680px;
    height:67px;
}
.button__grupo button{   
    width: 280px;
    height: 50px;
    
}

.button__crip{
    padding: 0.6rem 2rem;
    margin-right: 0.75rem;
    font-weight: 400;
    border-radius: 20rem;
    font-family: "Inter",sans-serif;
    background: rgba(10, 56, 113, 1);
    font-size: 16px;
    border: 1px solid rgba(10, 56, 113, 1);
    color: rgba(255, 255, 255, 1);

}

.button__desc{
    padding: 0.6rem 2rem;
    margin-right: 0.75rem;
    font-weight: 400;
    border-radius: 20rem;
    font-family: "Inter",sans-serif;
    background: rgba(10, 56, 113, 1);
    font-size: 16px;
    background: rgba(216, 223, 232, 1);
    color: rgba(10, 56, 113, 1);
}
.button__crip:hover{
    background-color: gray;
}

.button__desc:hover{
    background-color: gray;
}
/*Fim Conteiner lateral esquerdo*/

/* Conteiner lateral direito*/
.contener {
    width: 400px;
    height: 700px;
    margin: auto;
    border-radius: 32px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 24px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.contener__msg__criptografada {
    align-items: center;
    width: 336px;
    height: 304px;
    gap: 16px;
}

.contener__msg__informativa h1 { 
    height: 58px;   
    margin: 0.5em 0;
    font-family: "Inter",sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    color: rgba(52, 58, 64, 1);
    text-align: center;
}

.contener__msg__informativa p {
    height: 48px;
    margin: 0.5em 0;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba(10, 56, 113, 1);
}
/*Fim Conteiner lateral direito*/
footer {    
     
}

.rodape {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(52, 58, 64, 1);
}

